h1{
    text-align:center;
  }
  body {
    text-align: right;
    background-color: lightslategray;
    font-family: 'Oswald', sans-serif;
  }
  
  .forms {
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    text-align: left;
    margin: 0 auto;
  }
  
  input[type="submit"] {
    color: white;
    background-color: green;
  }
  
  input[type="reset"] {
    color: white;
    background-color: red;
  }
