div{
    text-align: center;
    background-color:lightslategray;
    font-family: 'Oswald',sans-serif;
}

form{
    background-color: white;
    border-radius: 50px;
    width: 250px;
    text-align: left;
    padding: 20px;
}

input[type="submit"]{
    color: white;
    background-color: green;
}

input[type="reset"]{
    color: white;
    background-color: red;
}

.div{
    margin: 0 auto;
    width: 350px; 
    padding: 20px;
    border-radius: 5px; 
    background-color: white; 
}